[submodule "libby-city/vendor/glui"]
	path = libby-city/vendor/glui
	url = https://github.com/libglui/glui
[submodule "libby-city/vendor/FreeGLUT"]
	path = libby-city/vendor/FreeGLUT
	url = https://github.com/dcnieho/FreeGLUT
[submodule "libby-city/vendor/glew"]
	path = libby-city/vendor/glew
	url = https://github.com/nigels-com/glew
